// Colors
$black: #000;
$white: #fff;
$red: #e2061c;
$gray-light: #c9c8c8;
$gray: #838282;
$gray-dark: #333333;
$blue: #253652;

// Accordion
$accordion-bgcolor: $gray !default;
$display: flex !default;

//button
$button-background-color: $red !default;